﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1>Hello Alterdata/Prosoft!</h1>
    <p>Welcome to our application, built with:</p>
    <ul>
        <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
        <li><a href='https://learn.microsoft.com/pt-br/ef/'>EntityFramework</a> for client-side code</li>
        <li><a href='https://learn.microsoft.com/pt-br/aspnet/core/mvc/views/razor?view=aspnetcore-7.0'>Web Forms</a> for layout and styling</li>
        <li><a href='https://sql.digital/pt-br/sql-server/sql-server-downloads/SQL_Server.php'>SQL Server</a> for database</li>
    </ul>
    <p>To help you get started, we have:</p>
    <ul>
        <li><strong>Table</strong>. You just need to choose a <em>Developer</em>. In single one, <em>Details</em> show a specific data.</li>
        <li><strong>Migration</strong>. In development mode, the development server from <code>Update-Database</code> runs in the background automatically in deploy enviroment.</li>
        <li><strong>Azure Deploy</strong>. This application is using <code>DevOps</code> tools, efficiently bundled with Database.</li>
    </ul>   
</div>
